/* Place CSS styles here */
body {
    background-color:rgb(137, 80, 139)
    
    font-family 'Times New Roman', Times, serif;
    font-size: 36px;
}
 img{
    width: 250px;
    margin-right: 16px;
    border: 3px solid rgb(162, 7, 33);

}
